@font-face {
    font-family: digital;
    src: url('assert/font.ttf');
    font-weight: 900;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: digital, cursive;
    max-width: 100%;
    user-select: none;
}
body {
 background: silver;
}

.calculator {
  margin: 50px auto 10px;
  width: 500px;
  padding: 40px 20px 20px;
  border-radius: 10px;
  background-color: indigo;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(70px, 1fr) repeat(5, auto);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  margin: 2px;
  padding: 12px 0;
  border: 1px solid black;
  outline: 0;
  background-color: rgba(255, 255, 255, .75);
  transition: background-color, 1s;
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-2 { grid-column: span 2; }

.screen {
  border: 2px solid black;
  border-radius: 10px;
  grid-column: 1 / -1;
  background-color: darkolivegreen;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 100px;
  margin-bottom: 30px;
}

.previous-operand {
  color: rgba(0,0,0,.75);
  font-size: 1.5rem;
  line-height: 1.2rem;
}
.current-operand {
  color: black;
  font-size: 2.5rem;
  line-height: 2rem;
}